{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}
<h1>Création d'un article</h1>
<body>
    <div class="container mt-5">
        <div class="row">
        <h3 class="mt-5 mb5 text-white">Formulaire de création</h3>
            {# Affichage d'un formulaire Symfony #}
            <div class="col-mb-6 offset-md-3">
            {{ form_start(form) }}
            {{ form(form) }}
            {{ form_end(form)}}
            </div>
        </div>
    </div>
</body>
{% endblock %}