{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}
<h1>Création d'un article</h1>
<body>
    <div class="container mt-5">
        <div class="row">
        <h3 class="mt-5 mb5 text-black">Formulaire de création</h3>

            {# Affichage d'un formulaire Symfony #}
            {{ include('main/_form.html.twig') }}
            <div class="form-group">
                <button class="btn btn-info mt-2 text-black">Soumettre</button>
            </div>
            {{ form_end(form) }}
        </div>
        <a href="{{path('app_main')}}"  class="btn btn-info mt-2 text-white">Retour à la page d'accueil</a>
    </div>
</body>
{% endblock %}