{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
<h1 class="text-center pt-2">Liste des contacts</h1>
<div class="row">
    {% for contact in contacts %}
     <div>
            {{ include('contact/_cardFicheContact.html.twig') }}
        <ul>
            <li class="list-group-item">{{contact.Categorie.libelle}}</li>
        </ul>
        {#<div class="card-body">
            <a href="{{path('ficheContact', {'id': contact.id})}}" class="btn btn-success btn-block text-center w-100">Détail ...</a>
        </div>#}
     </div>
    {% endfor %}
</div>
{% endblock %}