{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}{#titre de l'onglet#}

{% block body %}
<h1 class='text-center pt-5'>Bienvenue sur mon application de gestion</h1>
{% endblock %}